:root {
    --theme-default: #c5c5c5;
    --tw-ring-color: #000;
}


.doted-list {
    margin-bottom: 20px;
}

.doted-list li {
    list-style: disc;
}

.toggle-sidebar {
    top: 45px;
}

.dark-only .sidebar-list .sidebar-link .theme-icons {
    color: var(--theme-default);
}

.page-wrapper .page-header .header-wrapper .nav-right .profile-dropdown {
    top: 30px;
}

.loader {
    width: 40px;
    aspect-ratio: 1;
    --c: linear-gradient(#fff 0 0);
    --r1: radial-gradient(farthest-side at bottom, #fff 93%, #fff);
    --r2: radial-gradient(farthest-side at top, #fff 93%, #fff);
    background:
        var(--c), var(--r1), var(--r2),
        var(--c), var(--r1), var(--r2),
        var(--c), var(--r1), var(--r2);
    background-repeat: no-repeat;
    animation: l1 1s infinite alternate;

    position: absolute;
    top: 50%;
    left: 50%;
    /* right: 0; */
    z-index: 1;
    transform: translate(-50%, -50%);
}

@keyframes l1 {

    0%,
    10% {
        background-size: 8px 0, 8px 4px, 8px 4px;
        background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
    }

    90%,
    100% {
        background-size: 8px 100%, 8px 4px, 8px 4px;
        background-position: 0 50%, 0 -2px, 0 calc(100% + 2px), 50% 50%, 50% -2px, 50% calc(100% + 2px), 100% 50%, 100% -2px, 100% calc(100% + 2px);
    }
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    background-color: #000;
}
